

header{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 20;
    background: #fff;
    display: flex;
    height:70px;
    border-bottom: 1px solid #efefef;
    .headerContent{
        display: flex;
        margin-left: 10%;
        .darkMode{
            position: absolute;
            right:10px;
            top:15px;
        }
        .title{
            
            padding-top: 20px;
            font-size: 20px;
            width: auto;
            display:block;
            margin-right:3rem;
        }    
        .menu{     
            font-size: 15px;
            display:flex;
            a{
                padding-top: 25px;
                width: 70px;
                text-align: center;

                &:hover{
                    transition: 0.2s;
                    color: white;
                    background-color: grey;
                }
            
            }
            div{            
                margin-right:1rem;
                margin-left:1rem;
            }
        }

    }
   
    a{
        text-decoration: none;
        &:visited{
            color:#000;
        }
    }


}