$breakpoint-mobile: 500px;
$breakpoint-tablet: 1400px;
@media only screen and (max-width : $breakpoint-mobile){
    .introContent section.intro {
        padding:70px 5%;
        font-size: 14px;
        .myIntroContent{
            padding:20px 20px 20px 20px;
            font-size: 14px;

        }
        img.mount{
            display:none;
        }
        div.career{
            width:80%;
            margin: 0 auto;
            padding:10px 20px;
            height:60px;
            p{
               display:none;
            }
            .company p{
                display: inline;
            }
        }
    }
    .introContent section.skillIntro{
        
        padding:70px 5%;
        p.myIntroContent{
            font-size: 14px;
        }
        .skillKind .skillInfo{
                text-align: center;
                display: block;
                font-size:15px;
            .imgText{
                display: block;
                margin: 0 auto;
                text-align: center;
                img{
                    margin:1rem;
                }
                p{
                    b{
                        font-size: 16px;
                    }
                    margin:0;
                    font-size:14px;
                }
            }
            .skillDetail{
                li{
                    width:300px;
                }
            }
        } 
    }
}
@media only screen and (max-width : $breakpoint-tablet){
    .introContent section.intro {
        padding:70px 5%;
        font-size: 14px;
        .myIntroContent{
            padding:20px 20px 20px 20px;
            font-size: 14px;

        }
        img.mount{
            display:none;
        }
    }
    .introContent section.skillIntro{
        padding:70px 5%;
        p.myIntroContent{
            padding:20px 20px 20px 20px;
            font-size: 14px;
        }
        .skillKind .skillInfo{
                text-align: center;
                display: block;
            .imgText{
                display: block;
                margin: 0 auto;
                text-align: center;
                img{
                    margin:1rem;
                }
                p{
                    b{
                        font-size: 16px;
                    }
                    margin:0;
                    font-size:14px;
                }
            }
        } 
    }
}


.introContent{
    height:auto;
    padding-top:70px;
    section{
        padding:100px 16%;
        border-bottom: 1px solid grey;
        font-size: 14px;
        p{
            color:grey;
            font-size: 18px;
            margin-bottom:5rem;
        }
        .titleName{
            margin-bottom:2rem;
        }
    }
    .intro{                
        height:auto;
        img{
            position: absolute;
            right:10%;
            top:220px;
            width:600px;
            z-index: -20;
        }
        .career{
            width: 650px;
            height: 120px;
            margin: 20px 0;
            border-radius: 15px;
            text-align: left;
            padding: 20px;
            border: 2px solid grey;
            p{
                color:grey;
                margin-top:1rem;
                font-size: 12px;
                margin-bottom:0;
            }
            .company{
                display: flex;
                width: 180px;
                h1{
                    padding-top: 10px;
                    font-size: 15px;
                }
                p{
                    padding-top: 13px;
                    font-size:12px;
                    margin-left: 1rem;
                    margin-top:0;

                }
                
            }
        }
    }
    .skillIntro{
        height:auto;
        .skillKind{
            .skillInfo{
                display: flex;
                padding: 20px;
                text-align: center;
                .imgText{
                    width:30%;
                    display: flex;    
                    text-align: left;       
                    img{
                        width:50px;
                        height:50px;                                
                        margin: 40px 20px 40px 0; 
                    }
                    p{                         
                        margin: 40px 0; 
                        color:grey;
                    }
                }
                .skillDetail{                    
                    width:70%;
                    margin:35px 5rem 35px 0;
                    p{
                        margin-bottom: 0;
                        text-align: left;
                    }
                    ul{
                        
                        text-align:start;

                    }
                    li{
                        display: inline-block;
                        text-align: left;
                        width: 400px;
                        height: 80px;                        
                    }
                    img{
                        margin-top: 5px;
                        margin-bottom: 30px;
                        max-width: 40px;
                        margin-right: 1rem;
                        float:left;
                    }
                    .skillDetailText{
                        margin-bottom: 25px;
                        p{
                            font-size: 15px;
                        }
                        .skillDetailTextTitle{
                            b{
                                margin-right:5px;
                                font-size:18px;
                            }
                            p{
                                font-size:14px;
                            }
                            display:flex;

                        }
                    }
                
                }
            }
        }

    }
}
