.introContent{
    height:1000px;
    padding-top:150px;
    padding-left:10%;
    .intro{
        font-size: 14px;
        .titleName{
            margin-bottom:2rem;
        }
        .myIntroContent{
            color:grey;
            font-size: 18px;
        }
    }
}